#change-concentric-network, #change-twomode-network {
    position:relative;
    z-index:100;
}
#cy{
    width: 60vw;
    height: 65vh;
    position: absolute;
    top: 25vh;
    left: 10vw;
    z-index:200;
    background-color: #9ca9aa;
    border:solid 5px #bdc3c7;
}
