.link {
    stroke: #aaa;
    background-color:lightgrey;
}

.node text {
    stroke:#333;
    cursor:pointer;
    font-size:12px !important;
}

.node circle{
    stroke:#fff;
    stroke-width:3px;
    fill:#555;
}
