*{
    margin:0;
    padding:0;
    z-index:1;
    font-family:Courier;
}
html{
    overflow:hidden;
}
body{
    top:0%;
}
h1{
    padding-top:5%;
    font-size:10vh;
}
ol{
    list-style:decimal;
}
.square{
    font-size:3vh;
    text-align:center;
    width:100%;
    height:100%;
    background:black;
    color:white;
}
.square p{
    position:relative;
    width:80%;
    left:10%;
    text-align:left;
}
#one{
}
#one h1{
    position:absolute;
    font-size:15vh;
    padding-top:2%;
    left:2%;
}
#one .intro_p{
    top:10%;
    left:25%;
    width:55%;
    font-size:2.5vh;
    font-family:Georgia;
}
#first_p:first-letter {
	font-size:13vh;
	padding:0 .1em 0 0;
	height:1em;
	line-height:.85em;
	float:left;
}
#title_image{
    position:absolute;
    left:-20%;
    z-index:-1;
    max-height:100%;

}

#two{
    background: linear-gradient(to right, black, #4E4E4E);
}
#two #chart {width:60vw;height:60vh;margin:15px 15px 15px 6vw;}
#two svg{background-color:lightgrey; padding:10px; border:solid 4px darkgray;}
#two #description{
    width:25vw;
    height:65vh;
    position:absolute;
    right:5vw;
    top:25vh;
}

#three{
    background:#4E4E4E;
}
#four{
    background:rgba(0,0,0,0);
}
#map-canvas{
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:100%;
    z-index:0;
}
#map_tint{
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.3);
}
#timeline{
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    top:0%;
    left:0%;
    width:55%;
    height:100%;
    background:rgba(0,0,0,0);
}
#timeline::-webkit-scrollbar{
    background:rgba(0,0,0,0);
}
.timeline_point{
    position:relative;
    height:100%;
    width:88%;
    background:black;
}
.timeline_point .date_div{
    position:absolute;
    color:white;
    top:0%;
    right:0%;
    width:15%;
    height:100vh;
}
.timeline_point p{
    position:absolute;
    color:white;
    text-align:left;
    top:15%;
    width:80%;
    margin:0 auto;
    font-size:5vh;
}
.dates{
    position: relative;
    top: 50%;
    left:45%;
    transform: translateY(-50%);
}
.clipping{
    position:absolute;
    color:white;
    top:40%;
    width:50%;
    height:40%;
    font-size:5vh;
    background:rgba(29, 202, 255, 0.3);
}
.t_up{
    position:absolute;
    top:7%;
    left:47%;
    height:5%;
    width:5%;
    cursor:pointer;
}
.t_down{
    position:absolute;
    top:85%;
    left:47%;
    height:5%;
    width:5%;
    cursor:pointer;
}
#five{
    color: white;
    background: linear-gradient(to right, black, #4E4E4E);
}

/*Section 5 Styling*/
#five h1{
    color:white;
    font-family:spectral sans-serif;
}
#five .info{
    position: absolute;
    height: 65vh;
    width: 25vw;
    display: none;
    right: 5vw;
    margin-top: 5vh;
    overflow-y: scroll;
    font-size:20px;
}
#five .active{display:block;}
#five .active.button{background-color:#95a5a6;}
#five canvas{
    left:0 !important;
}
#five .button{
    position:absolute;
    font-size:12px;
    padding: 5px 2px 5px 2px;
    background-color:#ecf0f1;
    color:black;
    display:inline-block;
    cursor:pointer;
    width:11vw;
}
#five #change-concentric-network{right:5vw;}
#five #change-twomode-network{right:18vw;}

#six{
    background:#4E4E4E;
}
#seven{
}

#eight{
    background: linear-gradient(to right, black, #4E4E4E);
}
#nine{
    background:#4E4E4E;
}
.row_one{
    position:absolute;
    top:0%;
}
.row_two{
    position:absolute;
    top:100%;
}
.row_three{
    position:absolute;
    top:200%;
}
.column_one{
    position:absolute;
    left:0%;
}
.column_two{
    position:absolute;
    left:100%;
}
.column_three{
    position:absolute;
    left:200%;
}

