*{
    margin:0;
    padding:0;
    z-index:1;
}
html{
    overflow:hidden;
}
body{
    top:0%;
}

.square{
    font-size:40vh;
    text-align:center;
    width:100%;
    height:100%;
}
#map-canvas{
    position:absolute;
    top:100%;
    left:0%;
    width:100%;
    height:100%;
    z-index:0;
}
#timeline{
    overflow-y:scroll;
    overflow-x:hidden;
    position:absolute;
    top:0%;
    left:0%;
    width:55%;
    height:100%;
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(rgba(0, 0, 0, 1)), to(rgba(0, 0, 0, 0)));
}
#timeline::-webkit-scrollbar{
    background:rgba(0,0,0,0);
}
.timeline_point{
    position:relative;
    height:100%;
    width:100%;
    background:rgba(0,0,0,0);
}
.timeline_point .date_div{
    position:absolute;
    color:white;
    top:0%;
    right:0%;
    width:15%;
    height:100vh;
}
.timeline_point p{
    position:absolute;
    color:white;
    text-align:left;
    top:15%;
    width:80%;
    margin:0 auto;
    font-size:5vh;
}
.dates{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.clipping{
    position:absolute;
    color:white;
    top:40%;
    width:50%;
    height:40%;
    font-size:5vh;
    background:rgba(29, 202, 255, 0.3);
}
.t_up{
    position:absolute;
    top:7%;
    left:47%;
    height:5%;
    width:5%;
    background:black;
    cursor:pointer;
}
.t_down{
    position:absolute;
    top:85%;
    left:47%;
    height:5%;
    width:5%;
    background:black;
    cursor:pointer;
}
.row_one{
    position:absolute;
    top:0%;
}
.row_two{
    position:absolute;
    top:100%;
}
.row_three{
    position:absolute;
    top:200%;
}
.column_one{
    position:absolute;
    left:0%;
}
.column_two{
    position:absolute;
    left:100%;
}
.column_three{
    position:absolute;
    left:200%;
}
#one{
    background:green;
}
#two{
    
    background:yellow;    
}
#three{   
    background:red; 
}
#five{   
    background:gray;
}
#six{   
    background:blue; 
}
#seven{  
    background:aqua;  
}
#eight{   
    background:brown; 
}
#nine{   
    background:gold; 
}